// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------

$navbarWidth: 220px; //! same as logo
$lightRed: #b83b38;
$altRed: #b51714;
$darkRed: #8d110f;
$darkBrown: #3b2d2c;
$mediumBrown: #504646;
$lightBrown: #ac9f93;


@mixin nav-link($borderColor) {
	li {
		float: none;
		border-top: 1px solid lighten($borderColor, 10%);
		border-bottom: 1px solid darken($borderColor, 10%);
		&:first-child {
			border-top: none;
		};
		&:last-child {
			border-bottom: none;
		};
		a {
			font-size: 12px;
			text-transform: uppercase;
			text-align: left;
			text-shadow: none;
			font-family: $altFontFamily;
			font-weight: 300;
			padding: 7px 10px 9px;
			line-height: 19px;
		}
	}

}

// GLOBAL VALUES
// --------------------------------------------------

// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #F8F8F8;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;


// Scaffolding
// -------------------------
$bodyBackground:        $altRed;
$textColor:             $lightBrown;


// Links
// -------------------------
$linkColor:             $lightBrown;
$linkColorHover:        $white;


// Typography
// -------------------------
$sansFontFamily:        "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize:          16px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        22px;
$altFontFamily:         "nimbus-sans-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headingsFontFamily:    $altFontFamily; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, @textColor


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #f9f9f9; // for striping
$tableBackgroundHover:              #f5f5f5; // for hover
$tableBorder:                       #ddd; // table and cell border


// Buttons
// -------------------------
$btnBackground:                     $white;
$btnBackgroundHighlight:            darken($white, 10%);
$btnBorder:                         #ccc;

$btnPrimaryBackground:              $linkColor;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 15%);

$btnInfoBackground:                 #5bc0de;
$btnInfoBackgroundHighlight:        #2f96b4;

$btnSuccessBackground:              #62c462;
$btnSuccessBackgroundHighlight:     #51a351;

$btnWarningBackground:              lighten($orange, 15%);
$btnWarningBackgroundHighlight:     $orange;

$btnDangerBackground:               #ee5f5b;
$btnDangerBackgroundHighlight:      #bd362f;

$btnInverseBackground:              $gray;
$btnInverseBackgroundHighlight:     $grayDarker;


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputBorderRadius:             3px;
$inputDisabledBackground:       $grayLighter;

$formActionsBackground:         #f5f5f5;

// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownLinkColor:             $grayDark;
$dropdownLinkColorHover:        $white;
$dropdownLinkBackgroundHover:   $linkColor;
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         $white;



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:        1000;
$zindexPopover:         1010;
$zindexTooltip:         1020;
$zindexFixedNavbar:     1030;
$zindexModalBackdrop:   1040;
$zindexModal:           1050;


// Sprite icons path
// -------------------------
$iconSpritePath:        "twitter/bootstrap/glyphicons-halflings.png";
$iconWhiteSpritePath:   "twitter/bootstrap/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
$placeholderText:       $grayLight;


// Hr border color
// -------------------------
$hrBorder:              $grayLighter;


// Navbar
// -------------------------
$navbarHeight:                    40px;
$navbarBackground:                $altRed;
$navbarBackgroundHighlight:       $altRed;

$navbarText:                      $darkBrown;
$navbarLinkColor:                 $darkBrown;
$navbarLinkColorHover:            $white;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      $navbarBackground;

$navbarSearchBackground:          lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus:     $white;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%);
$navbarSearchPlaceholderColor:    #ccc;
$navbarBrandColor:                $navbarLinkColor;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter;
$heroUnitHeadingColor:            inherit;
$heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
$warningText:             #c09853;
$warningBackground:       #fcf8e3;
$warningBorder:           darken(adjust_hue($warningBackground, -10deg), 3%);

$errorText:               #b94a48;
$errorBackground:         #f2dede;
$errorBorder:             darken(adjust_hue($errorBackground, -10deg), 3%);

$successText:             #468847;
$successBackground:       #dff0d8;
$successBorder:           darken(adjust_hue($successBackground, -10deg), 5%);

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
$infoBorder:              darken(adjust_hue($infoBackground, -10deg), 7%);



// GRID
// --------------------------------------------------

// Default 940px grid
// -------------------------
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// Fluid grid
// -------------------------
$fluidGridColumnWidth:    6.382978723%;
$fluidGridGutterWidth:    2.127659574%;

// Navbar (gko addon)
// -------------------------
$navbarLinkBackground:            transparent;	
// Footer (gko addon)
// -------------------------
$footerHeight:                    40px;
$footerBackground:                $lightBrown;
$footerText:                      $darkBrown;
$footerLinkColor:                 $darkBrown;
$footerLinkBackground:       	  transparent;
$footerLinkColorHover:            $white;
$footerLinkBackgroundHover:       transparent;

@import "twitter/bootstrap";
@import "gko/public/base";
@import "galleria";
/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */

.page-title {
	font-weight: normal;
	margin-bottom: $baseLineHeight;
	text-transform: uppercase;
}
#left-sidebar {
	display: none;
}
.html-text {
	font-weight: 300;
}
#main-container {
	background-color: $darkBrown;
	min-height: 100%;
}
/*-----------------------------------------
 HEADER
----------------------------------------- */
.navbar {
	background-color: $altRed;

	margin-bottom: 0;
	.brand {
		margin: 39px 0 0 0;
		padding: 0;
		background-color: $altRed;
		a {
			padding: 0;
			margin: 0 auto;
			background: $altRed image-url("logo.png") center center no-repeat;
			background-size: contain;
			cursor: pointer;
			text-decoration: none;
			display: block;
			width: $navbarWidth;
			height: 120px;
			@include hide-text;
		}
	}
	.btn-navbar {
		text-shadow: none;
		@include buttonBackground($lightBrown, $mediumBrown);

	}
	ul.nav {
		@include center-block();
		left: auto;
		float: none;
		@include nav-link($altRed);
	}
}


/*-----------------------------------------
 FOOTER
----------------------------------------- */

footer {
	padding: 0 20px;
	nav {
		text-align: center;
	}
	ul.nav {
		@include center-block();
		left: auto;
		float: none;
	}
	ul.nav > li > a {
		text-shadow: none;
		font-size: 14px;
	}
}

#copyright-container {
	padding: 0 30px;
}
#site-by {
	font-size: 10px;
	text-align: center;;
}
/*-----------------------------------------
 CONTENT
----------------------------------------- */

/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "twitter/bootstrap/responsive";
@media (max-width: 767px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}

	.container-fluid {
		padding: 20px;
	}
}	
@media (max-width: 979px) {
	.navbar {
		background-image: image-url("bg_h.png");
		background-position: top left;
		background-repeat: repeat-x;
		.brand {
			float: none;
			text-align: center;
			margin: 39px 0 0 0;
		}	
	}
	
	#locales-menu {
		position: absolute;
		top: 39 + ($baseLineHeight / 2);
		right: $baseLineHeight / 2;
	}
}
@media (min-width: 980px) {

	/*-- LAYOUT
	----------------------------------------- */
	
	body {
		padding-left: 0px;
		padding-right: 0px;
		background-image: image-url("bg.png");
		background-position: top right;
		background-repeat: repeat-y;
	}
	
	.container-fluid {
		padding: 0;
	}

	#main-container {
		position: absolute;
		left: $navbarWidth;
		min-height: 100%;
		max-width: 800px + ($baseLineHeight * 2);
	}
	
	#main {
		padding: $baseLineHeight * 2;
	}
	
	/*-- HEADER
	----------------------------------------- */
	.navbar {
		position: fixed;
		top: 0;
		left: 0;
		min-height: 100%;
		z-index: 10;
		min-width: $navbarWidth;
		width: $navbarWidth;
		margin-bottom: 0;
		.brand {
			margin: 0;
		}
		ul.nav > li > a {
			text-align: center;
		}
		.nav-collapse {
			position: absolute;
			top: 200px;
			left: 0;
			right: 0;
		}
		.footer-nav {
			position: absolute;
			bottom: 30px;
			left: 0;
			right: 0;
		}
	}
	
	.dropdown-menu.subnav {
		position: fixed;
		left: $navbarWidth;
		top: 0;
		min-height: 100%;
		height: auto !important;
		height: 100%;
	//	min-width: $navbarWidth;
		border: none;
		border-right: 1px solid $mediumBrown;
		background-color: $lightBrown;
		z-index: 2;
		margin: 0;
		padding: 200px 0;
		@include box-sizing(border-box);
		@include nav-link($lightBrown);
		@include box-shadow(none);
		@include border-radius(0);
	}
}