// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------


$altRed: #b51714;
$darkBrown: #3b2d2c;
$mediumBrown: #504646;
$lightBrown: #ac9f93;
$leftbarWidth: 220px; //! same as logo
// GLOBAL VALUES
// --------------------------------------------------

// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #F8F8F8;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;


// Scaffolding
// -------------------------
$bodyBackground:        $altRed;
$textColor:             $white;


// Links
// -------------------------
$linkColor:             $lightBrown;
$linkColorHover:        $white;


// Typography
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       "ltc-bodoni-175", Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize:          13px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        18px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, @textColor


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #f9f9f9; // for striping
$tableBackgroundHover:              #f5f5f5; // for hover
$tableBorder:                       #ddd; // table and cell border


// Buttons
// -------------------------
$btnBackground:                     $white;
$btnBackgroundHighlight:            darken($white, 10%);
$btnBorder:                         #ccc;

$btnPrimaryBackground:              $linkColor;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 15%);

$btnInfoBackground:                 #5bc0de;
$btnInfoBackgroundHighlight:        #2f96b4;

$btnSuccessBackground:              #62c462;
$btnSuccessBackgroundHighlight:     #51a351;

$btnWarningBackground:              lighten($orange, 15%);
$btnWarningBackgroundHighlight:     $orange;

$btnDangerBackground:               #ee5f5b;
$btnDangerBackgroundHighlight:      #bd362f;

$btnInverseBackground:              $gray;
$btnInverseBackgroundHighlight:     $grayDarker;


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputBorderRadius:             3px;
$inputDisabledBackground:       $grayLighter;

$formActionsBackground:         #f5f5f5;

// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownLinkColor:             $grayDark;
$dropdownLinkColorHover:        $white;
$dropdownLinkBackgroundHover:   $linkColor;
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         $white;



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:        1000;
$zindexPopover:         1010;
$zindexTooltip:         1020;
$zindexFixedNavbar:     1030;
$zindexModalBackdrop:   1040;
$zindexModal:           1050;


// Sprite icons path
// -------------------------
$iconSpritePath:        "twitter/bootstrap/glyphicons-halflings.png";
$iconWhiteSpritePath:   "twitter/bootstrap/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
$placeholderText:       $grayLight;


// Hr border color
// -------------------------
$hrBorder:              $grayLighter;


// Navbar
// -------------------------
$navbarHeight:                    40px;
$navbarBackground:                $mediumBrown;
$navbarBackgroundHighlight:       $mediumBrown;

$navbarText:                      $lightBrown;
$navbarLinkColor:                 $lightBrown;
$navbarLinkColorHover:            $white;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      $navbarBackground;

$navbarSearchBackground:          lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus:     $white;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%);
$navbarSearchPlaceholderColor:    #ccc;
$navbarBrandColor:                $navbarLinkColor;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter;
$heroUnitHeadingColor:            inherit;
$heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
$warningText:             #c09853;
$warningBackground:       #fcf8e3;
$warningBorder:           darken(adjust_hue($warningBackground, -10deg), 3%);

$errorText:               #b94a48;
$errorBackground:         #f2dede;
$errorBorder:             darken(adjust_hue($errorBackground, -10deg), 3%);

$successText:             #468847;
$successBackground:       #dff0d8;
$successBorder:           darken(adjust_hue($successBackground, -10deg), 5%);

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
$infoBorder:              darken(adjust_hue($infoBackground, -10deg), 7%);



// GRID
// --------------------------------------------------

// Default 940px grid
// -------------------------
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// Fluid grid
// -------------------------
$fluidGridColumnWidth:    6.382978723%;
$fluidGridGutterWidth:    2.127659574%;

// Navbar (gko addon)
// -------------------------
$navbarLinkBackground:            transparent;	
// Footer (gko addon)
// -------------------------
$footerHeight:                    40px;;
$footerBackground:                transparent;;
$footerText:                      $navbarText;;
$footerLinkColor:                 $navbarLinkColor;;
$footerLinkBackground:       	  transparent;;
$footerLinkColorHover:            $navbarLinkColorHover;;
$footerLinkBackgroundHover:       transparent;;

@import "twitter/bootstrap";
@import "gko/public/base";
@import "galleria";
@import "jscrollpane";

/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */
body {
	background: $bodyBackground image-url("bg.png") bottom right repeat-y;
}
.page-title {
	font-weight: normal;
	margin-bottom: $baseLineHeight;
}

#left-sidebar {
	background-color: $darkBrown;
	max-width: $leftbarWidth;
	padding: $baseLineHeight;
	.nav > li > a {
	  padding: 8px 0;
	}
	.nav > li > a:hover {
	  background-color: transparent;
	}
}
#content-container {
	background-color: $lightBrown;
}
#page-text {
	padding: $baseLineHeight;
}

/*-----------------------------------------
 HEADER
----------------------------------------- */
.navbar {
	background-color: $darkBrown;
	margin-bottom: 0;
}
.container-fluid {
	padding: 0;
}
.navbar-inner {
	padding: 0;
	position: relative;
}

.navbar .brand {
	margin: 0;
	padding: 0;
	background-color: $altRed;

	a {
		padding: 0;
		margin: 0 auto;
		background: $altRed image-url("logo.png") center center no-repeat;
		background-size: contain;
		cursor: pointer;
		text-decoration: none;
		display: block;
		width: $leftbarWidth;
		height: 120px;
		@include hide-text;
		
	}
}
.navbar .btn-navbar {
	text-shadow: none;
}
.header-top {
	position: absolute;
	top: 0;
	right: 0;
}
/*-----------------------------------------
 FOOTER
----------------------------------------- */
#footer {
	padding: $baseLineHeight 0;
}
/*-----------------------------------------
 CONTENT
----------------------------------------- */

/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "twitter/bootstrap/responsive";


@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
	#page-text {
		height: auto;
	}

}
@media (max-width: 979px) {

  // GRID & CONTAINERS
  // -----------------
  // Remove width from containers
  .container {
    width: auto;
  }
  // Fluid rows
  .row-fluid {
    width: 100%;
  }
  // Make all grid-sized elements block level again
  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }
	.navbar-inner {
		background-color: $altRed;
		@include gradient-vertical($altRed, $altRed);
	  	@include border-radius(0);
	  	@include box-shadow(none);
		padding: 0
	}
	.navbar .brand {
		float: none;
		text-align: center;
		
	}
	.nav-collapse {
		background-color: $darkBrown;
	}
	
	.nav-collapse nav,
	.nav-collapse .nav {
		@include clearfix();
	}
	
	.nav-collapse .nav > li,
	.nav-collapse .dropdown-menu li {
		border-bottom: 1px solid $navbarLinkColor;
	}
	
	.nav-collapse .dropdown-menu li:first-child {
		border-top: 1px solid $navbarLinkColor;
	}
	
	.nav-collapse .dropdown-menu li:last-child {
		border-bottom: none;
	}
	
	.nav-collapse .nav > li > a,
	.nav-collapse .dropdown-menu a {
	  font-weight: normal;
	  @include border-radius(0);
	}
	.nav-collapse .dropdown-menu a:hover {
		color: $navbarLinkColorHover;
	}

	#left-sidebar {
		display: none;
	}
	
	.galleria-container {
	    max-height: 640px;
	}
}
@media (min-width: 980px) {

	.navbar .brand {

		margin-top: 0;
		letter-spacing: 4px;
		text-align: center;
		text-transform: uppercase;
		line-height: 42px;
		font-weight: 300;
		font-size: 32px;
	}

	
	.navbar ul.nav > li > a {
		text-transform: uppercase;
		text-align: center;
		font-size: $baseFontSize - 3;
		letter-spacing: 2px;
		text-shadow: none;
		padding: 3px 15px;
	}
	#primary-menu {
		float: left;
	}
	#primary-menu ul.nav {
		margin-top: 80px;
	}
	
	#main-column {
		margin-left: 0;
	}
	#main-column.fixed {
		max-height: 390px;
		height: 390px;
	}
	#page-text.fixed {
		height: 390px;
	}
	
	.galleria-container {
	    max-height: 490px;
		min-height: 490px;
	}
	
	.page {
		position: relative;
		max-width: 880px;
	}
	
	.page .span8 {
		min-width: 580px;
	}
	
	.page .span4 {
		max-width: 300px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		background-color: $lightBrown;
	}
	
	.galleria-thumbnails-container {
		background: $altRed;
	}
	
	footer .nav {
		margin-left: 9px;
		> li {
			float: none;
		}
		> li > a {
		  padding: 8px 0;
		}
	}

	
}